<section fxLayout="column" fxFlexAlign="center">
    <ul class="breadcrumb">
        <li><a href="#">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
      </ul>

      <h1>Sobre a autora</h1>

      <img src="./assets/undraw_fingerprint_re_uf3f.svg" alt="Imagem de uma pessoa ao lado de uma impressão digital.">

      <h2>
        Maria Madalena Dornelas Borges
      </h2>

    <p>
        É uma pessoa responsável, dinâmica, apta e persistente, que ama o que faz. Gosta de fazer a diferença na vida das pessoas, principalmente no que se refere ao conhecimento, ao saber. Seu lema: "Você aprende, você coloca em ação".
    </p>
    <p>
        É graduada em Pedagogia e Matemática, com especializações em Alfabetização e deficiência intelectual e Metodologia do ensino superior. 
    </p>
    <p>
        Teve participação em diversos eventos e congressos desde 1999, ligados ao tema da educação especial e pedagogia, publicou obras como: "O papel do professor no século XXI, 2009", "Atendimento digital X Comunicação alternativa, 2012" ou "Desafios do aprender, 2014". 
    </p>
    <p>Tem atuação profissional como professora de matemática e professora da sala de recursos na rede pública desde 1997.</p>

</section>
