<section fxLayout="column" fxFlexAlign="center"  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="conteudo"> 

  
    <ul class="breadcrumb">
          <li><a href="/home">Início</a></li>
          <li><a href="/adm">Administração</a></li>
          <li><a href="/adm-categorias">Categorias</a></li>
          <li><a href="/adm-criar-categoria">Criar Categoria</a></li>
        </ul>

<mat-card>

    <mat-card-title>Nova Categoria</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da categoria"
                [(ngModel)] ="categoria.nome" name="nome" > 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Descrição da categoria"
            [(ngModel)] ="categoria.descricao" name="descricao" >
        </mat-form-field>
        
    </form>

<button mat-raised-button (click) = "criarCategoria()" color = "primary">
Salvar
</button>

<button mat-raised-button (click) = "cancelar()" color = "accent">
Cancelar
</button>

</mat-card>
</section>