<section fxLayout="column" fxFlexAlign="center"  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="conteudo"> 
  
    <ul class="breadcrumb">
        <li><a href="/home">Início</a></li>
        <li><a routerLink="/usuario">Perfil</a></li>
    </ul>
<mat-card>
<mat-card-title>Visualizar seu perfil</mat-card-title>

<form>
    <mat-form-field>
        <input matInput placeholder="Nome do usuário"
            [(ngModel)] ="usuario.nome" name="nome"disabled> 
        </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="E-mail"
        [(ngModel)] ="usuario.email" name="email" disabled>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Data de cadastro do usuario"
        [(ngModel)] ="usuario.data" name="data" disabled>
    </mat-form-field>
    
</form>
<button mat-raised-button routerLink="/usuario-modificar-usuario/{{usuario.id}}" color="primary">Modificar Usuário</button>
<button mat-raised-button routerLink="/usuario-modificar-senha/{{usuario.id}}" color="primary">Modificar Senha</button>
<button mat-raised-button (click)="sair()" color="accent">Sair</button>

</mat-card>
</section>