<section fxLayout="column" fxFlexAlign="center"  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="conteudo"> 

  
    <ul class="breadcrumb">
          <li><a href="/home">Início</a></li>
          <li><a routerLink="/usuario">Perfil</a></li>
          <li><a routerLink="/usuario-modificar-usuario">Modificar usuario</a></li>
        </ul>

<mat-card>

    <mat-card-title>Modificar usuario</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do usuario"
                [(ngModel)] ="usuario.nome" name="nome"> 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email do usuario"
            [(ngModel)] ="usuario.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de cadastro"
            [(ngModel)] ="usuario.data" name="data" disabled>
        </mat-form-field>
        
    </form>

<button mat-raised-button (click) = "modificarUsuario()" color = "primary">
Modificar
</button>

<a mat-raised-button routerLink="/usuario/{{usuario.id}}" color = "accent">

Cancelar
</a>

</mat-card>
</section>