<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Início</span>
    </a>
    <a mat-list-item routerLink="/atividades" (click)="onSidenavClose()">
        <mat-icon>article</mat-icon> <span class="nav-caption">Atividades</span>   
    </a>
    <a mat-list-item routerLink="/artigos" (click)="onSidenavClose()">
        <mat-icon>school</mat-icon><span class="nav-caption">Artigos</span>
    </a>
    <a mat-list-item routerLink="/sobre" (click)="onSidenavClose()">
        <mat-icon>emoji_people</mat-icon><span class="nav-caption">Sobre</span>
    </a>
    <a mat-list-item routerLink="/contato" (click)="onSidenavClose()">
        <mat-icon>email</mat-icon><span class="nav-caption">Contato</span>
    </a>
    <a mat-list-item routerLink="/contribua" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon><span class="nav-caption">Contribua!</span>
    </a>
    <a mat-list-item routerLink="adm" (click)="onSidenavClose()">
        <mat-icon>settings</mat-icon><span class="nav-caption">Administração</span>
    </a>
</mat-nav-list>