<section fxLayout="column" fxFlexAlign="stretch"> 
    <ul class="breadcrumb">
      <li><a href="#">Início</a></li>
      <li><a href="/contribua">Contribua</a></li>
    </ul>

    <h1>Contribua com nosso trabalho!</h1>

    <img src="./assets/undraw_savings_re_eq4w.svg" alt="Homem depositando moeda em cofre de porquinho.">

    <p>Todo o trabalho e dedicação que vocês vêem em nossa plataforma é feito de coração, voluntariamente, com o intuito de ajudar o maior numero possível de educadores e, consequentemente, de estudantes.</p>
    <p>Para que o trabalho continue sempre com mais ânimo, contribuições financeiras são muito bem vindas e serão direcionadas para que a plataforma permaneça no ar por mais tempo e cresça, trazendo sempre mais atividades e conteúdo para ajudar você. </p>
    <p>Para fazer uma contribuição, envie para o nosso PIX o valor desejado, ao nome de Madalena Dornelas Borges, usando a chave a seguir os escaneando o QRCode abaixo.</p>
    <p>Caso deseje fazer uma contribuição, mas não utilize o PIX, entre em contato para combinarmos a melhor forma.</p>
    <p>Obrigada!
        <i class="material-icons">favorite</i>
    </p>
    <h2>Chave pix (e-mail): espaco-educar@gmail.com</h2>
    <h2>Titular: Maria M. D. Borges</h2>
    <h2>QRCode:</h2>
    <img src="./assets/qrcode.png" alt="QRCode.">
</section>